<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!<br><br>
    {{value | titlecase}} Data
  </h1>
 
  <table  *ngIf="exchangeRate && value==='latest'" style="margin-left: auto;
  margin-right: auto;
">
    <tr>
      <th>Currency</th>
      <th>Rate</th>
     
    </tr>
  
    <tr *ngFor= "let rate of exchangeRate.rates| keyvalue">
      <td>{{rate.key}}</td>
      <td>{{rate.value}}</td>
    </tr>
  </table>

  <table  *ngIf="exchangeRate && value==='sixMonth'" style="margin-left: auto;
  margin-right: auto;
">
    <tr>
      <th>Currency</th>
      <th>Month1</th>
      <th>Month2</th>
      <th>Month3</th>
      <th>Month4</th>
      <th>Month5</th>
      <th>Month6</th>
    </tr>
  
    <tr *ngFor= "let rate of exchangeRate.ratesMap| keyvalue">
      <!-- {{rate.value|json}} -->
      <td>{{rate.key}} </td>
      <td *ngFor="let item  of rate.value">{{item?.Month0}} {{item?.Month1}} {{item?.Month2}}{{item?.Month3}}{{item?.Month4}}{{item?.Month5}}</td>
       
      <!-- <td>{{item.Month0}</td>
      <td>{{item.Month1}</td>
      <td>{{item.Month2}</td>
      <td>{{item.Month3}</td>
      <td>{{item.Month4}</td>
      <td>{{item.Month5}</td> -->
    </tr>
  </table>
  <br><br>
  <button (click)="sixMonthData()">Six Month Data</button>
</div>
 
 


<router-outlet></router-outlet>
